<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382582681248-ao28il52e78st0k820mllu562pr4fnj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382582681248-ao28il52e78st0k820mllu562pr4fnj9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>382582681248-qge7gb3fnlolva2r9se941r1p20l9q89.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6dhmiKV8j9fnQM7d9TBKqIHpDv-z-bs4</string>
	<key>GCM_SENDER_ID</key>
	<string>382582681248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eurofood.realtimechat</string>
	<key>PROJECT_ID</key>
	<string>realtimechat-e236a</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimechat-e236a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382582681248:ios:967639043d2b6af1d563c5</string>
</dict>
</plist>